.DS_Store
#autosave
*~
# Windows default autosave extension
*.asv

# ignore image files
*.tif
*.TIF
*.bmp
*.jpg
*.jpeg
*.fits
*.png

# ignore movie files
*.mov
*.avi

# ignore matlab mat files
*.mat

fcAnalysis/fcPlotting/fileExchange/iso2mesh-master/
